.button-container-home {
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px;
}

.home-button {
  padding: 8px 16px;
  background-color: #042448; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0cc37e; 
}