.button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding: 10px 20px; /* Adds some padding around the button */
}

.home-button {
  padding: 8px 16px;
  background-color: #042448; /* Bootstrap primary blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0cc37e; /* Darker blue on hover */
}